.card{
    margin: 0 auto;
    width: 800px;
    background: #171c26;
    transform: translateY(-50px);
    border-radius: 12px;
}


body {
    background: #0f172a;
    font-family: "Nunito Sans", sans-serif;
}
  
h1 {
    font-weight: 800;
    /* text-shadow: 3px 3px 5px gray; */
    text-shadow: 2px 2px 4px gray;
}


h2 {
    font-weight: 700;
}


input,
select {
    background: #111827;
   border-radius: 12px;
    border: 1px solid #273449;
     color: #f8fafc;
    
}


#country-search::placeholder {
     color: #f8fafc;
}


/* Search and Clear buttons */
#button-id,
#clearButton {
    background-color: #087fb9;
    color: white;
    border: none;
    /* padding: 12px 24px; */
    padding: 12px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    /* Smooth transition for hover effects */
  /* transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; */

    transition: background-color 0.2s ease, transform 0.15s ease;
    width: 119px;
   
    
}

/* Hover effect */
#button-id:hover,
#clearButton:hover {
    background-color: #0996d5;
    transform: translateY(-1px);
    box-shadow: 0 5px 15px rgba(226, 224, 223, 0.4);
     /* transform: scale(1.08); Scales up the button by 8% */
}

/* Click effect  */
#button-id:active,
#clearButton:active {
    transform: translateY(0);
   
}



nav {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 6rem;
    padding: 1rem 0;
    margin-top: -30px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: #0ea5e9;
    transition: color 0.2s ease;
    text-shadow: 2px 2px 4px rgb(152, 156, 156);
}

nav a:hover {
    text-decoration: none;
    color: #38bdf8;
   transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
   transform: scale(1.08);
  
}




/* Results  card */

#results {
    margin-top: 2rem;
}

#result-card {
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 12px;
    text-align: center;
    background-color: #111827;
    border: 1px solid #273449;
}

#result-card h3 {
    margin-bottom: 1.5rem;
}


#result-card .year {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#result-card .life-expectancy {
    font-size: 1.3rem;
    font-weight: 700;
    color: #38bdf8;
} 


footer {
    font-size: 15px;
    margin-top: 20px;
}

.search-icon {
    position: relative;
}

.search-icon input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    box-sizing: border-box;
}

.search-icon i {
    position: absolute;
    left: 15px;
    top: 32%;
    transform: translateY(-50%);
  
    color: #dbe1e9;
    font-size: 16px;
    pointer-events: none;
}
